/** {
  padding: 0;
  margin: 0;
}*/

div.emote {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 10px;
}

h1.emote, h2.emote, h3.emote {
  line-height: 2rem;
  font-weight: 400;
  padding: inherit;
  margin: inherit;
}

h1.emote {
  font-size: 1.6rem;
}

h2.emote {
  font-size: 1.4rem;
}

h3.emote {
  font-size: 1.2rem;
}

p.emote {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
  /*color: #dadada;*/
}

body.emote {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /*background-color: #151515;*/
  font-weight: 400;
  /*color: #dadada;*/
}

button.emote {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #6441a4;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #fff;
  text-decoration: none;
  user-select: none;
}
button span.emote {
  padding: .4rem .8rem;
  position: relative;
  text-align: center;
}

button.emote:hover {
  text-decoration: none;
  background: #7d5bbe;
  border-color: #7d5bbe;
  color: #fff;
}

button.emote:focus {
  text-decoration: none;
  background: #7d5bbe;
  border-color: #9a7fcc;
  box-shadow: 0 0 6px 0 #7d5bbe;
  color: #fff;
}

button.emote:active {
  text-decoration: none;
  background: #6441a4;
  border-color: #7d5bbe;
  box-shadow: 0 0 6px 0 #7d5bbe;
  color: #fff;
}

#Twitch {
  flex: auto;
}
#Twitch #twitch-embed {
  height: 100%;
}

#Emote_Only_Mode {
  display: flex;
  /* min-height: 240px; */
  height: 270px;
  /*background-color: #0f0e11;*/
  border-top: 1px solid #2a2a2a;
  position: relative;
}
#Emote_Only_Mode .pane {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
}
#Emote_Only_Mode .pane .pane_header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-bottom: 5px;
}
#Emote_Only_Mode .pane .pane_body {
  flex: auto;
}
#Emote_Only_Mode .pane #d3 {
  width: 100%;
  height: 100%;
  fill: #6441a4;
  overflow-y: visible;
  z-index: 10;
}
#Emote_Only_Mode .pane #d3 .overlay {
  fill: none;
  pointer-events: all;
  z-index: 100;
  overflow: visible;
}
#Emote_Only_Mode .pane #d3 circle {
  fill: #dadada;
}
#Emote_Only_Mode .pane #d3 text {
  /*fill: #dadada;*/
}
#Emote_Only_Mode .pane #d3 .y {
  /*color: transparent;*/
}
#Emote_Only_Mode .pane #d3 .x {
  /*color: #dadada;*/
}
#Emote_Only_Mode .pane #d3 .tick {
  /*color: transparent;*/
}
#Emote_Only_Mode .pane #words {
  display: flex;
  flex-direction: column;
}
#Emote_Only_Mode .pane #words #words_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  font-size: 1.4rem;
  line-height: 2rem;
}
#Emote_Only_Mode .pane #words #words_list .word_entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#Emote_Only_Mode .pane #words #words_list .word_entry .word_count {
  font-size: 1.2rem;
  /*color: #a49fad;*/
}
#Emote_Only_Mode .pane #filters {
  display: flex;
  flex-direction: column;
}
#Emote_Only_Mode #pane_left {
  flex: auto;
  padding: 20px calc(1rem + 5px);
  position: relative;
}
#Emote_Only_Mode #pane_right {
  width: 250px;
  min-width: 250px;
  border-left: 1px solid #2a2a2a;
}
#Emote_Only_Mode #pane_right #words {
  height: 100%;
}
#Emote_Only_Mode #pane_right #filters {
  display: none;
  height: 100%;
}
#Emote_Only_Mode #pane_right #filters #filter_body {
    height: 200px;
}

#Emote_Only_Mode #pane_right #filters #filter_body form {
    width: 100%;
    height: 112px;

    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-around; */

    overflow: auto;
}

#Emote_Only_Mode #pane_right #filters #filter_body #selection_buttons {
  display: flex;
  margin-bottom: 5px;
}

.lds-ring-container {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6441a4 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
